<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<head>
		<script type="text/javascript" src="js/jquery/jquery-1.6.4.min.js"></script>
		<script type="text/javascript" src="js/jquery/jquery-ui-1.8.12.custom.min.js"></script> 
		<script type="text/javascript" src="js/jquery/jquery.tmpl.js"></script>
		<script type="text/javascript" src="js/jquery/jquery.fancybox-1.3.4.pack.js"></script> 
		<script type="text/javascript" src="js/jquery/jquery.blockUI.js"></script>
		<script type="text/javascript" src="js/scripts/menu-collapsed.js"></script>
		<script type="text/javascript" src="js/scripts/jquery.form.js"></script>
		<script type="text/javascript" src="js/scripts/jquery.json-2.3.min.js"></script>
		<script type="text/javascript" src="js/scripts/jquery.inherit-1.3.2.M.js"></script>
		<script type="text/javascript" src="js/utils.js"></script> 
		<script type="text/javascript" src="js/data.js"></script> 
		<script type="text/javascript" src="js/game.js"></script> 
		<script type="text/javascript" src="js/races.js"></script> 
		<script type="text/javascript" src="js/main.js"></script> 
		<script type="text/javascript" src="js/interface.js"></script> 
		<script type="text/javascript" src="js/callServer.js"></script> 
		<script type="text/javascript" src="js/serverResponses.js"></script> 
		<link rel="stylesheet" type="text/css" href="css/jquery-ui-1.8.12.custom.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<link rel="stylesheet" type="text/css" href="css/jquery.fancybox-1.3.4.css" media="screen" />
</head>

<body> 
<script id="gameListTemplate" type="text/x-jquery-tmpl"> 
	<li><a href="#">${gameName}</a>
		<ul>
			{{if $item.data.gameDescr != undefined}}<p>Game description: ${gameDescr}</p>{{/if}}
			<p>Map Id: ${mapId}</p>
			<p>State: ${state}</p>
			<p>Turn: ${turn}</p>
			<p>Number of turns: ${turnsNum}</p>
			<p>Maximum players number: ${maxPlayersNum}</p>
			<p>Players:</p>
			{{tmpl(players, {activePlayer: $item.data.activePlayerId}) "#userListTemplate"}}
			<button id = {{html 'join'.concat($item.data.gameId)}} style = "display: none">
				Join
			</button>
			<button id = {{html 'leave'.concat($item.data.gameId)}} style = "display: none">
				Leave
			</button>
			<button id = {{html 'setReadinesStatus'.concat($item.data.gameId)}} style = "display: none">
				I am ready
			</button>
		</ul>
	</li>
</script>
<script id="mapListTemplate" type="text/x-jquery-tmpl"> 
	<li><a href="#">${mapName}</a>
		<ul>
			<p>Number of turns: ${turnsNum}</p>
			<p>Maximum players number: ${playersNum}</p>
			<p><a href = {{html $item.data.picture}} id = {{html 'mapPict'.concat($item.data.mapId)}}><img src = {{html $item.data.thumbnail}}></a></p>
			<button id = {{html 'chooseMap'.concat($item.data.mapId)}}>
				Choose map
			</button>
		</ul>
	</li>
</script>
<script id="userListTemplate" type="text/x-jquery-tmpl"> 
	<div class = "user">
		<p>${username}{{if $item.data.userId == $item.activePlayer}} -- active player{{/if}}</p>
		{{if $item.data.isReady}}<p style="margin: 10px;">Ready</p>{{/if}}
		{{if !$item.data.inGame}}<p style="margin: 10px;">Not in game</p>{{/if}}
	</div>
</script>
<script id="chatTemplate" type="text/x-jquery-tmpl"> 
	<div class = "ui-widget-content ui-corner-all">
		<table>
			<tr>
				<td>
					<table>
						<tr>
							<td>
									<i>${username}</i>, 
							</td>
							<td>
								{{html $item.UTC($item.data.time)}}:
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan = "2">
						${text}
				</td>
			</tr>
		</table>
	</div>
</script>
<script id="mapChooseTemplate" type="text/x-jquery-tmpl"> 
	<option id = {{html 'map'.concat($item.data.mapId)}} mapId = {{html $item.data.mapId}}>${mapName}</option>
</script>
<script id="regionsTemplate" type="text/x-jquery-tmpl"> 
	<area shape = "circle" coords = {{html $item.coords($item.data.id)}} alt = "{{html $item.data.id}}"/>
</script>
<script id="usersInCurGameTemplate" type="text/x-jquery-tmpl"> 
	<div class = "user">
		<p>${username}{{if $item.data.id == $item.activePlayer()}} -- active player {{/if}}</p>
		{{if $item.data.isReady}}<p style="margin: 10px;">Ready</p>{{/if}}
		{{if !$item.data.inGame}}<p style="margin: 10px;">Not in game</p>{{/if}}
		<p style="margin: 10px;">Coins: ${coins}</p>
		<table>
			{{if $item.data.currentTokenBadge != undefined}}
			<tr>
				<td colspan = "3">Current token badge:</td>
			</tr>
			<tr>
				<td class = {{html ''.concat($item.data.currentTokenBadge.raceName)}}></td>
				<td class =  {{html ''.concat($item.data.currentTokenBadge.specPowName)}}></td>
				<td>{{html $item.data.currentTokenBadge.totalTokensNum}}</td>
				{{if $item.data.id == $item.currentUser()}}
					<td>
						<button id = "decline" style = "display: none">Decline</button>
					</td>
				{{/if}}
			<tr>
			{{/if}}
			{{if $item.data.declinedTokenBadge != undefined}}
			<tr>
				<td colspan = "3">Declined token badge:</td>
			</tr>
			<tr>
				<td class = {{html ''.concat($item.data.declinedTokenBadge.raceName)}}></td>
				<td class =  {{html ''.concat($item.data.declinedTokenBadge.specPowName)}}></td>
				<td>{{html $item.data.declinedTokenBadge.totalTokensNum}}</td>
			<tr>
			{{/if}}
		</table>
	</div>
</script>
<script id="visibleTokenBadgesTemplate" type="text/x-jquery-tmpl"> 
	<div>  
		<table>
			<tr>
				<td rowspan = "2" class = {{html ''.concat($item.data.raceName)}}></td>
				<td rowspan = "2" class =  {{html ''.concat($item.data.specPowName)}}></td>
				<td class = "Money"><span>${bonusMoney}</span></td>
			</tr>
			<tr>
				<td>
					<button id={{html 'select'.concat($item.data.pos)}} pos={{html $item.data.pos}} style = "display: none"></button>
				</td>
			</tr>
		</table>
	</div>
</script>
<script id="currentGameTemplate" type="text/x-jquery-tmpl"> 
	<table>
		<tr>
			<td>
				<button id = "leaveGame">leave</button>
			</td>
			<td rowspan = "11" align = "center">
				<img src = {{html $item.data.map.picture}} usemap = "#map" style = "margin-left: 50px;">
				<map name = "map" id = "map">
					{{tmpl(map.regions, $item.opts) "#regionsTemplate"}}
				</map>
			</td>
		</tr>
		<tr>
			<td colspan = "2">
				<button id = "setRadinessStatusInGame" style = "display: none"></button>
			</td>
		</tr>
		<tr>
			<td colspan = "2">
				Players:
			</td>
		</tr>
		<tr>
			<td colspan = "2">
				{{tmpl(players, $item.opts) "#usersInCurGameTemplate"}}
			</td>
		</tr>
		{{if tokenBadges.length}}
			<tr>
				<td>
					Visible token badges:
				</td>
			</tr>
			<tr>
				<td>
					{{tmpl(tokenBadges, $item.opts) "#visibleTokenBadgesTemplate"}}
				</td>
			</tr>
		{{/if}}
		<tr>
			<td colspan = "2">
				<button id = "finishTurn" style = "display: none">Finish turn</button>
			</td>
		</tr>
		<tr>
			<td>
				<select id = "possibleRegions" style = "display: none">
				</select>
			</td>
			<td>
				<button id = "conquer" style = "display: none">Conquer</button>
			</td>
		</tr>		
		<tr>
			<td>
				<select id = "possibleFriends" style = "display: none">
				</select>
			</td>
			<td>
				<button id = "selectFriend" style = "display: none">Select friend</button>
			</td>
		</tr>
		<tr>
			<td colspan = "2">
				<button id = "throwDice" style = "display: none">Throw dice</button>
			</td>
		</tr>
		<tr>
			<td>
				<select id = "possibleRegionsForEnchant" style = "display: none">
				</select>
			</td>
			<td>
				<button id = "enchant" style = "display: none">Enchant</button>
			</td>
		</tr>
		<tr>
			<td>
				<select id = "possibleRegionsForDragonAttack" style = "display: none">
				</select>
			</td>
			<td>
				<button id = "dragonAttack" style = "display: none">Dragon attack</button>
			</td>
		</tr>
	</table>
</script>
	<div id = 'tabs'>
		<ul>
	    </ul>	
	</div>
	<div id = "registerLoginForm" style = "display: none">
		<p id = "dialogInfo">Please enter unique username and valid password</p>
		<table>
			<tr>
				<td>
					<label for="username">Username</label>
				</td>
				<td>
					<input type="text" name="username" id = "username" class="text ui-widget-content ui-corner-all" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="password">Password</label>
				</td>
				<td>
					<input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
				</td>
			</tr>
		</table>
	</div>
	<div id = "createGameForm" style = "display: none">
		<p id = "dialogInfo">Please enter unique username and valid password</p>
		<table>
			<tr>
				<td>
					<label for="gameName">Game name</label>
				</td>
				<td>
					<input type="text" name="gameName" id = "gameName" class="text ui-widget-content ui-corner-all" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="gameDescription">Game description</label>
				</td>
				<td>
					<input type="text" name="gameDescription" id="gameDescription" value="" class="text ui-widget-content ui-corner-all" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="mapList">Map</label>
				</td>
				<td>
					<select id = "mapList" class="text ui-widget-content ui-corner-all" ></select>
				</td>
			</tr>
		</table>
		<button id = "browseMaps">Browse maps</button>
	</div>
	<div id = "browseMapsForm" style = "display: none">
		<p id = "dialogInfo">Maps:</p>
		<div id = "browseMapsList"></div>
	</div>
    <div id = "uploadMap" style = "display: none">
    		<table>
			<tr>
				<td>
					<label for="mapName">Map name</label>
				</td>
				<td>
					<input type="text" name="mapName" id = "mapName" class="text ui-widget-content ui-corner-all" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="playersNum">Number of players</label>
				</td>
				<td>
					<input type="text" name="playersNum" id="playersNum" value="" class="text ui-widget-content ui-corner-all" />			
				</td>
			</tr>
			<tr>
				<td>
					<label for="turnsNum">Number of turns</label>
				</td>
				<td>
					<input type="text" name="turnsNum" id="turnsNum" value="" class="text ui-widget-content ui-corner-all" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="regionsList">Regions description</label>
				</td>
				<td>
					<textarea id="regionsList" value="" class="text ui-widget-content ui-corner-all" ></textarea>
				</td>
			</tr>
			<tr>
				<td colspan = "2">
				<form id="uploadMapPictures" enctype="multipart/form-data" action="upload_maps.php" method="POST">
					<table>
						<tr>
							<td>
								<label for="thmbInput">Thumbnail</label>
							</td>
							<td>
								<input name="thmb"  id="thmbInput"  type="file" accept="image/jpeg"/>
							</td>
						</tr>
						<tr>
							<td>
								<label for="pictInput">Full picture</label>
							</td>
							<td>
								<input name="pict"  id="pictInput"  type="file" accept="image/jpeg"/>
							</td>
						</tr>
						<tr>
							<td colspan = "2">
								<input id = "submitMapPictures" type = "submit" style = "display: none"/>
							</td>
						</tr>
						
					</table>
				</form>
				</td>
			</tr>
		</table>
    </div>
</body>
</html>
