<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<head>
		<script type="text/javascript" src="client/import/jquery/jquery-1.6.4.min.js"></script>
		<script type="text/javascript" src="client/import/jquery/jquery-ui-1.8.12.custom.min.js"></script> 
		<script type="text/javascript" src="client/import/jquery/jquery.tmpl.js"></script>
		<script type="text/javascript" src="client/import/jquery/jquery.fancybox-1.3.4.pack.js"></script> 
		<script type="text/javascript" src="client/import/jquery/jquery.blockUI.js"></script>
		<script type="text/javascript" src="client/import/scripts/menu-collapsed.js"></script>
		<script type="text/javascript" src="client/import/scripts/jquery.form.js"></script>
		<script type="text/javascript" src="client/import/scripts/jquery.json-2.3.min.js"></script>
		<script type="text/javascript" src="client/data.js"></script> 
		<script type="text/javascript" src="client/main.js"></script> 
		<script type="text/javascript" src="client/interface.js"></script> 
		<script type="text/javascript" src="client/callServer.js"></script> 
		<script type="text/javascript" src="client/serverResponses.js"></script> 
		<link rel="stylesheet" type="text/css" href="styles/jquery-ui-1.8.12.custom.css">
		<link rel="stylesheet" type="text/css" href="styles/styles.css">
		<link rel="stylesheet" type="text/css" href="styles/jquery.fancybox-1.3.4.css" media="screen" />
</head>

<body> 
<script id="gameListTemplate" type="text/x-jquery-tmpl"> 
	<li><a href="#">${gameName}</a>
		<ul>
			{{if $item.data.gameDescr != undefined}}<p>Game description: ${gameDescr}</p>{{/if}}
			<p>Map Id: ${mapId}</p>
			<p>State: ${state}</p>
			<p>Turn: ${turn}</p>
			<p>Number of turns: ${turnsNum}</p>
			<p>Maximum players number: ${maxPlayersNum}</p>
			<p>Players:</p>
			{{tmpl(players, {activePlayer: $item.data.activePlayerId}) "#userListTemplate"}}
			<button id = {{html 'join'.concat($item.data.gameId)}} style = "display: none">
				Join
			</button>
			<button id = {{html 'leave'.concat($item.data.gameId)}} style = "display: none">
				Leave
			</button>
			<button id = {{html 'setReadinesStatus'.concat($item.data.gameId)}} style = "display: none">
				I am ready
			</button>
		</ul>
	</li>
</script>
<script id="mapListTemplate" type="text/x-jquery-tmpl"> 
	<li><a href="#">${mapName}</a>
		<ul>
			<p>Number of turns: ${turnsNum}</p>
			<p>Maximum players number: ${playersNum}</p>
			<p><a href = {{html $item.data.picture}} id = {{html 'mapPict'.concat($item.data.mapId)}}><img src = {{html $item.data.thumbnail}}></a></p>
			<button id = {{html 'chooseMap'.concat($item.data.mapId)}}>
				Choose map
			</button>
		</ul>
	</li>
</script>
<script id="userListTemplate" type="text/x-jquery-tmpl"> 
	<div class = "user">
		<p>${username}{{if $item.data.userId == $item.activePlayer}} -- active player{{/if}}</p>
		{{if $item.data.isReady}}<p style="margin: 10px;">Ready</p>{{/if}}
		{{if !$item.data.inGame}}<p style="margin: 10px;">Not in game</p>{{/if}}
		
	</div>
</script>
<script id="chatTemplate" type="text/x-jquery-tmpl"> 
	<div class = "ui-widget-content ui-corner-all">
		<table>
			<tr>
				<td>
					<table>
						<tr>
							<td>
									<i>${username}</i>, 
							</td>
							<td>
								{{html $item.UTC($item.data.time)}}:
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan = "2">
						${text}
				</td>
			</tr>
		</table>
	</div>
</script>
<script id="mapChooseTemplate" type="text/x-jquery-tmpl"> 
	<option id = {{html 'map'.concat($item.data.mapId)}} mapId = {{html $item.data.mapId}}>${mapName}</option>
</script>
	<div style = "background: url(styles/images/bg.jpg) no-repeat; background-position: 40% center;">
		<table id = "tmain" height = "100%" width = "100%" style="ui-widget">
			<tr>
				<td rowspan = "4" valign = "top">
					<table id = "tableGames" width = "400px">
						<tr>
							<td>
								<button id = "getGameList" style = "display: none">Refresh game list</button>
							</td>
						</tr>
						<tr>
							<td>
								<p id = "gameListInfo"></p>
							</td>
						</tr>
						<tr>
							<td>
								<ul id = "gameList">
								</ul>	
							</td>
						</tr>
						<tr>
							<td>
								<button id = "createGame" style = "display:none">Create new game</button>
							</td>
						</tr>
						<tr>
							<td>
								<button id = "createMap"style = "display:none">Create new map</button>
							</td>
						</tr>
					</table>
				</td>
				<td rowspan = "4" valign = "top">
					<p style = "margin-left: -130px">Here must be info about the game</p>
				</td>
				<td valign = "top" align = "right">
					<p id = "userInfo">You're not logged in, please login or register</p>
					<div>
						<button id = "register" style = "display: none">Register</button>
						<button id = "login" style = "display: none">Login</button>
						<button id = "logout" style = "display:none">Logout</button>
					</div>
				</td>
			</tr>
			<tr>
				<td rowspan="3" valign = "top">
					<table width = "300px" valign = "top" align = "right" style = "margin-top: 0px; height: 100%">
						<tr>
							<td colspan = "2">
								<div id = "chat" class = "ui-widget-content ui-corner-all" style = 
									"overflow-y: auto; height: 100%; max-height: 300px">
								</div>
							</td>
						</tr>
						<tr>
							<td colspan = "2">
								<textarea id = "messageBox" class = "ui-widget-content ui-corner-all" style = 
									"width: 100%; overflow-y: auto; margin-top:0px; height: 100%"></textarea>
							</td>
						</tr>
						<tr>
							<td>
								<button id = "sendMessage" style = "display: none">Send message</button>
							</td>
							<td align = "right">
								<button id = "refreshChat" style = "display: none">Refresh chat</button>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	<div id = "registerLoginForm" style = "display: none">
		<p id = "dialogInfo">Please enter unique username and valid password</p>
		<table>
			<tr>
				<td>
					<label for="username">Username</label>
				</td>
				<td>
					<input type="text" name="username" id = "username" class="text ui-widget-content ui-corner-all" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="password">Password</label>
				</td>
				<td>
					<input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
				</td>
			</tr>
		</table>
	</div>
	<div id = "createGameForm" style = "display: none">
		<p id = "dialogInfo">Please enter unique username and valid password</p>
		<table>
			<tr>
				<td>
					<label for="gameName">Game name</label>
				</td>
				<td>
					<input type="text" name="gameName" id = "gameName" class="text ui-widget-content ui-corner-all" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="gameDescription">Game description</label>
				</td>
				<td>
					<input type="text" name="gameDescription" id="gameDescription" value="" class="text ui-widget-content ui-corner-all" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="mapList">Map</label>
				</td>
				<td>
					<select id = "mapList" class="text ui-widget-content ui-corner-all" ></select>
				</td>
			</tr>
		</table>
		<button id = "browseMaps">Browse maps</button>
	</div>
	<div id = "browseMapsForm" style = "display: none">
		<p id = "dialogInfo">Maps:</p>
		<div id = "browseMapsList"></div>
	</div>
    <div id = "uploadMap" style = "display: none">
    		<table>
			<tr>
				<td>
					<label for="mapName">Map name</label>
				</td>
				<td>
					<input type="text" name="mapName" id = "mapName" class="text ui-widget-content ui-corner-all" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="playersNum">Number of players</label>
				</td>
				<td>
					<input type="text" name="playersNum" id="playersNum" value="" class="text ui-widget-content ui-corner-all" />			
				</td>
			</tr>
			<tr>
				<td>
					<label for="turnsNum">Number of turns</label>
				</td>
				<td>
					<input type="text" name="turnsNum" id="turnsNum" value="" class="text ui-widget-content ui-corner-all" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="regionsList">Regions description</label>
				</td>
				<td>
					<textarea id="regionsList" value="" class="text ui-widget-content ui-corner-all" ></textarea>
				</td>
			</tr>
			<tr>
				<td colspan = "2">
				<form id="uploadMapPictures" enctype="multipart/form-data" action="upload_maps.php" method="POST">
					<table>
						<tr>
							<td>
								<label for="thmbInput">Thumbnail</label>
							</td>
							<td>
								<input name="thmb"  id="thmbInput"  type="file" accept="image/jpeg"/>
							</td>
						</tr>
						<tr>
							<td>
								<label for="pictInput">Full picture</label>
							</td>
							<td>
								<input name="pict"  id="pictInput"  type="file" accept="image/jpeg"/>
							</td>
						</tr>
						<tr>
							<td colspan = "2">
								<input id = "submitMapPictures" type = "submit" style = "display: none"/>
							</td>
						</tr>
						
					</table>
				</form>
				</td>
			</tr>
		</table>
    </div>
</body>
</html>
