BODY{
	font-family: 'Times New Roman', Verdana,Arial,sans-serif; 
	font-size: 0.9em;
}
.user{
	margin-left: 10px;
}

.gallery-img {
	border: 5px solid #3e3e3e;
	border-width: 5px 5px 20px;
}
.gallery-a:hover img {
	border: 5px solid #fff;
	border-width: 5px 5px 20px;
	color: #fff;
}
.gallery-a:hover { color: #fff; }
